form-control {
  size: 5px;
}

#idEmpresa {
  size: 4px;
  color: blue;
  background: #282c34;
}

.rc-table-cell-fix-left {
  background-color: whitesmoke;
}

.tabla-planilla {
  /* max-height: 575px;
  overflow-y: scroll; */
  max-width: 70%;
}

.planilla {
  align-content: center;
  margin-right: 4%;
  margin-left: 4%;
  max-height: 575px;
  overflow-y: scroll;
}

.resultados {
  float: right;
  max-width: 30%;
}

.rc-table-thead{
  background-color: teal;
}